<div class="modal fade" id="themvi" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm Ví</h4>
                <div class="button-close" (click)="submitAddWallet()">
                    <button tabindex="0" type="button">
                        <i class="fa fa-save"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row-item">
                    <div class="img">
                        <img src="http://localhost:3000/images/wallet.png" alt="">
                    </div>

                    <div class="group">
                        <input type="text" [(ngModel)]="dataddWallet.namewallet"  required placeholder="Tên ví của bạn ?">
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="row-item">
                    <div class="img">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </div>

                    <div class="group">
                        <input type="text" [(ngModel)]="dataddWallet.money" placeholder="Số tiền">
                        <span class="bar"></span>
                    </div>
                </div>
            </div>
            <p class="btn-delete-only" data-dismiss="modal">ĐÓNG</p>
        </div>
    </div>
</div>