<div class="page">
    <!-- THANH HEADER-->
    <app-header></app-header>
    <div class="page-content d-flex align-items-stretch">
        <!-- PHẦN MENU -->
       <app-menu></app-menu>
        <div class="content-inner">
            <!-- PHẦN HEADER CONTENT -->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">Quản Lý Ví</h2>
                </div>
            </header>
            <!-- PHẦN CHỌN WALLET -->
            <app-wallet></app-wallet>


            <!-- PHẦN CHỌN GIAO DỊCH -->
            <app-transaction *ngIf="checkURL"></app-transaction>
            <div class="imgbg">
                <img *ngIf="!checkURL" src="assets/images/nullurl.png" alt="">
            </div>
            <!-- Page Footer-->
            <app-footer></app-footer>
        </div>
    </div>
</div>