<div class="page">
    <!-- Main Navbar-->
    <app-header></app-header>
    <div class="page-content d-flex align-items-stretch">
        <!-- PHẦN SIDE-NAVBAR -->
       <app-menu></app-menu>
        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">Quản Lý Ví</h2>
                </div>
            </header>
            <!-- PHẦN CHANGE WALLET -->
            <app-wallet></app-wallet>

            <!-- PHẦN TRANSACTION -->
            <app-transaction></app-transaction>
            
            
            <!-- PHẦN HIỂN THỊ THI CHI -->
            <section class="feeds no-padding-top">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Trending Articles-->
                        <div class="col-lg-6 report-overview">
                            <div class="articles card">
                                <div class="card-close">
                                    <div class="dropdown">
                                        <button type="button" id="closeCard4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <div aria-labelledby="closeCard4" class="dropdown-menu dropdown-menu-right has-shadow">
                                            <a href="#" class="dropdown-item remove">
                                                <i class="fa fa-times"></i>Close</a>
                                            <a href="#" class="dropdown-item edit">
                                                <i class="fa fa-gear"></i>Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header d-flex align-items-center">
                                    <h2 class="h3">TỔNG QUAN </h2>
                                    <div class="badge badge-rounded bg-green">4 New </div>
                                </div>
                                <div class="card-body no-padding row">
                                    <div class="lable-money col-lg-8">
                                        <p>Tiền vào</p>
                                        <p>Tiền ra</p>
                                    </div>
                                    <div class="money col-lg-4">
                                        <p>3,000,000 đ</p>
                                        <p>108,009 đ</p>
                                        <div class="line"></div>
                                        <span>3,000,000 đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Check List -->
                        <div class="col-lg-6 report-detail">
                            <div class="checklist card">
                                <div class="card-close">
                                    <div class="dropdown">
                                        <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow">
                                            <a href="#" class="dropdown-item remove">
                                                <i class="fa fa-times"></i>Close</a>
                                            <a href="#" class="dropdown-item edit">
                                                <i class="fa fa-gear"></i>Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header d-flex align-items-center">
                                    <h2 class="h3">Báo cáo chi tiết </h2>
                                </div>
                                <div class="card-body no-padding">
                                    <div class="content-card-body">
                                        <div class="item" data-toggle="modal" data-target="#chinhsuachitieu">
                                            <div class="row">
                                                <div class="date-view col-md-6">
                                                    <span class="view-day">15</span>
                                                    <span class="view-date">
                                                        <span class="days">Monday</span>
                                                        <span class="months">January 2018</span>
                                                    </span>
                                                </div>
                                                <div class="amount col-md-6">
                                                    <span>490,000 ₫</span>
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="row row-item">
                                                <div class="col-md-6 left">
                                                    <div class="img">
                                                        <img src="https://static.moneylover.me/img/icon/ic_category_entertainment.png" alt="">
                                                    </div>
                                                    <div class="info-detail">
                                                        <p>Tiền lương</p>
                                                        <p>havanduy</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 right">
                                                    <p class="red">100,000 d</p>
                                                </div>

                                            </div>
                                            <div class="row row-item">
                                                <div class="col-md-6 left">
                                                    <div class="img">
                                                        <img src="https://static.moneylover.me/img/icon/ic_category_entertainment.png" alt="">
                                                    </div>
                                                    <div class="info-detail">
                                                        <p>Tiền lương</p>
                                                        <p>havanduy</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 right">
                                                    <p class="blue">100,000 d</p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <div class="date-view col-md-6">
                                                    <span class="view-day">15</span>
                                                    <span class="view-date">
                                                        <span class="days">Monday</span>
                                                        <span class="months">January 2018</span>
                                                    </span>
                                                </div>
                                                <div class="amount col-md-6">
                                                    <span>490,000 ₫</span>
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="row row-item">
                                                <div class="col-md-6 left">
                                                    <div class="img">
                                                        <img src="https://static.moneylover.me/img/icon/ic_category_entertainment.png" alt="">
                                                    </div>
                                                    <div class="info-detail">
                                                        <p>Tiền lương</p>
                                                        <p>havanduy</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 right">
                                                    <p class="red">100,000 d</p>
                                                </div>

                                            </div>
                                            <div class="row row-item">
                                                <div class="col-md-6 left">
                                                    <div class="img">
                                                        <img src="https://static.moneylover.me/img/icon/ic_category_entertainment.png" alt="">
                                                    </div>
                                                    <div class="info-detail">
                                                        <p>Tiền lương</p>
                                                        <p>havanduy</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 right">
                                                    <p class="blue">100,000 d</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- PHẦN MODAL CHỈNH SỬA GIAO DỊCH -->
            <app-change-transaction></app-change-transaction>
            
            <!-- Page Footer-->
            <app-footer></app-footer>
        </div>
    </div>
</div>