/* PHẦN CHUNG */
.red{
    color: red;
}
.blue{
    color: #039be5;
}
/* VÙNG HEADER CHỌN VÍ */
.header-content{text-align:center;background-color:#fff;position:relative;width:100%;margin-bottom:60px;-webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);box-shadow:2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);}
.header-content .choose-wallet p.name-wallet{color:#000;text-transform:uppercase;font-size:12px;margin:0px;}
.header-content .choose-wallet p.money-wallet{font-size:36px;color:red;display:inline;}
.header-content .choose-wallet img{width:72px;height:72px;}
/* PHẦN MODAL THAY ĐỔI VÍ */
#chonvi .modal-content{position:absolute;top:0%;left:15%;background-color:white;width:360px;border-radius:0.5rem;}
#chonvi .item-content-modal{position:relative;margin:5px 0px;padding:3px 0px;}
#chonvi .item-content-modal:hover{background-color:rgba(51, 51, 51, 0.1);cursor:pointer;}
#chonvi .item-content-modal span{color:rgb(51, 51, 51);font-size:16px;}
#chonvi .item-content-modal img{width:48px;height:48px;}
#chonvi .item-content-modal span.name-vallet{position:absolute;top:7px;left:52px;}
#chonvi .item-content-modal span.money-vallet{position:absolute;top:26px;left:52px;color:rgba(0, 0, 0, 0.54);font-size:14px;}
#chonvi p{color:rgba(51, 51, 51, 0.54);font-size:14px;}
.header-modal, #chonvi h4{color:rgb(51, 51, 51);font-size:22px;}
.close-button{float:right;width:1.5rem;line-height:1.5rem;text-align:center;cursor:pointer;border-radius:0.25rem;background-color:lightgray;}
.close-button:hover{background-color:darkgray;}
/* PHẦN MODAL THÊM VÍ */
#themvi .modal-header{background-color:rgb(45, 184, 76);-webkit-tap-highlight-color:rgba(0, 0, 0, 0);box-shadow:rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;border:0px !important;}
#themvi .modal-footer{border:0px !important;}
#themvi .modal-content{position:absolute;top:0%;left:13.5%;background-color:white;width:360px;border-radius:0.5rem;}
#themvi .row-item{margin:15px 0px;}
#themvi .img{width:50px;display:inline-block;text-align:center;}
#themvi i{width:48px;text-align:center;}
#themvi img{width:48px;height:48px;}
#themvi .item-content-modal{position:relative;margin:5px 0px;padding:3px 0px;}
#themvi .item-content-modal:hover{background-color:rgba(51, 51, 51, 0.1);cursor:pointer;}
#themvi .item-content-modal span{color:rgb(51, 51, 51);font-size:16px;}
#themvi .item-content-modal img{width:48px;height:48px;}
#themvi .item-content-modal span.name-vallet{position:absolute;top:7px;left:52px;}
#themvi .item-content-modal span.money-vallet{position:absolute;top:26px;left:52px;color:rgba(0, 0, 0, 0.54);font-size:14px;}
#themvi p{color:rgba(51, 51, 51, 0.54);font-size:14px;}
.header-modal, #themvi h4{color:#fff;font-size:22px;}
/* FOOTER MODEL */
.footer-modal{padding:10px 0px;border-top:1px solid rgb(224, 224, 224);}
.footer-modal .btn-cancel{width:100px;float:left;height:37px;}
.footer-modal .btn-add{width:100px;float:right;height:37px;}
/* NÚT BUTTON THÊM VÍ */
.button-add{box-shadow:rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;border-radius:50%;display:inline-block;position:absolute;bottom:-30px;right:100px;}
.button-add button, .button-edit button{border:10px;background-color:rgb(90, 241, 88);height:56px;width:56px;border-radius:50%;color:rgba(0, 0, 0, 0.6);}
.button-edit{box-shadow:rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;border-radius:50%;display:inline-block;position:absolute;bottom:-30px;left:100px;}

/* HIỆU ỨNG INPUT */
.group{width:70%;display:inline-block;}
 input{font-size:18px;padding:10px 10px 8px 5px;display:block;width:100%;border:none;border-bottom:1px solid rgba(0, 0, 0, 0.3);}
 input::placeholder{color:rgba(0, 0, 0, 0.3);}
 input:focus{outline:none;border-bottom:0px}
 input:focus ~ label, input:valid ~ label{top:-20px;font-size:14px;color:rgb(45, 184, 76);}
 .bar{position:relative;display:block;width:100%;}
 .bar:before, .bar:after{content:'';height:2px;width:0;bottom:1px;position:absolute;background:rgb(45, 184, 76);transition:0.2s ease all;-moz-transition:0.2s ease all;-webkit-transition:0.2s ease all;}
 .bar:before{left:50%;}
 .bar:after{right:50%;}
 input:focus ~ .bar:before, input:focus ~ .bar:after{width:50%;}
/* HIỆU ỨNG CHECK BOX */
.label-cbx{user-select:none;cursor:pointer;margin-bottom:0;}
 .label-cbx input:checked + .checkbox{border-color:#20C2E0;}
 .label-cbx input:checked + .checkbox svg path{fill:#20C2E0;}
 .label-cbx input:checked + .checkbox svg polyline{stroke-dashoffset:0;}
 .label-cbx:hover .checkbox svg path{stroke-dashoffset:0;}
 .label-cbx .checkbox{position:relative;top:2px;width:20px;height:20px;border:2px solid #C8CCD4;border-radius:3px;}
 .label-cbx .checkbox svg{position:absolute;top:-2px;left:-2px;}
 .label-cbx .checkbox svg path{fill:none;stroke:#20C2E0;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:71px;stroke-dashoffset:71px;transition:all 0.6s ease;}
 .label-cbx .checkbox svg polyline{fill:none;stroke:#FFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:18px;stroke-dashoffset:18px;transition:all 0.3s ease;}
 .label-cbx > span{pointer-events:none;vertical-align:middle;}
 .invisible{position:absolute;z-index:-1;width:0;height:0;opacity:0;}
/* PHẦN THÊM THU NHẬP */
.add-spend{padding:15px 0px !important;}
.add-spend .img{width:60px;display:inline-block;text-align:center;}
.add-spend i{width:48px;color:#757575!important;text-align:center;}
.add-spend img{width:48px;height:48px;}
.add-spend .row-item{margin:6px 0px;}
.add-spend .item-content-modal{position:relative;margin:5px 0px;padding:3px 0px;}
.add-spend .choose-category{cursor:pointer;width: 70%}
.add-spend .choose-category i{float: right;}
.add-spend .category{width: 70% !important;}
.add-spend .choose-category:last-child{width: 100%;}
.add-spend .footer-row-item{height:100px;width:100%;border-top:1px solid rgba(0,0,0,.12);margin:10px 0px 0px 0px;}
.add-spend .item-left{height:100%;text-align:center;border-right:1px solid rgba(0,0,0,.12);}
.add-spend .item-left p{margin:0px;}
.add-spend .item-left p.week{font-size:12px;text-transform:uppercase;color:grey;line-height:48px;}
.add-spend .item-left p.day-of-month{font-size:48px;color:#333;margin-top:-28px;}
.add-spend .item-left p.month-and-year{font-size:12px;color:grey;line-height:48px;margin-top:-28px;}
.row{margin:0px;}
.add-spend button{margin-left:15px;margin-top:15px;}
.add-spend .item-right{height:100%;}
.add-spend .title-wallet{font-size:12px;}
.add-spend .choose-category{border-bottom:1px solid rgba(0,0,0,.12);}
.add-spend .choose-category i{display:inline-block;margin-left:30px;width:15px;}
.add-spend .card-close{
    margin-top: 15px;
}
.add-spend .card-close:hover{
    cursor: pointer;
}
/* PHẦN BÁO CÁO TÔNG QUAN */
.report-overview .money{
    text-align: right;
    
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(224, 224, 224);
}
/* PHẦN BÁO CÁO CHI TIẾT */
.report-detail .item{
    background-color: #fff;
    padding: 0px;
    margin: 20px;
    border-radius: 4px;
}
.report-detail .card-body {
    background-color: #e5e5e5;
}
.report-detail .row-item{
    padding: 2px 1px;
   
}
.report-detail .row-item:hover{
    background-color: rgba(51, 51, 51, 0.1);
    cursor: pointer;
}
.report-detail .card-header{
    background-color: rgb(45, 184, 76);
}
.report-detail .view-day{
    font-size: 32px;
    display: inline-block;
    color: rgba(0,0,0,.87);
    font-weight: 300;
}
.report-detail .days{
    font-size: 10px;
    display: block;
    line-height: 15px;
    color: #333;
}
.report-detail .months{
    color: rgba(0,0,0,.26);
    font-size: 10px;
}
.report-detail .amount{
    text-align: right;
}
.report-detail .amount span{
    line-height: 45px;
}
.report-detail .img{
    display: inline-block;
}
.report-detail img{
    width: 48px;
    height: 48px;
}
.report-detail .info-detail{
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
}
.report-detail .info-detail p{
    margin:0px;
}
.report-detail .info-detail p:first-child{
    font-size: 14px;
}
.report-detail .info-detail p:last-child{
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    
}
.report-detail .right p{
    text-align: right;
}
.report-detail .card-body{
    height: 330px;
    overflow: auto;
}
.report-detail .content-card-body{
    background-color: #e5e5e5;
}

/* PHẦN CHỈNH SỬA VÍ */

#chinhsuachitieu .modal-header{background-color:rgb(45, 184, 76);-webkit-tap-highlight-color:rgba(0, 0, 0, 0);box-shadow:rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;border:0px !important;}
#chinhsuachitieu .modal-footer{border:0px !important;}
#chinhsuachitieu .modal-content{position:absolute;top:0%;left:13.5%;background-color:white;width:360px;border-radius:0.5rem;}
#chinhsuachitieu .row-item{margin:15px 0px;}
#chinhsuachitieu .img{width:50px;display:inline-block;text-align:center;}
#chinhsuachitieu img{width:48px;height:48px;}
#chinhsuachitieu .item-content-modal{position:relative;margin:5px 0px;padding:3px 0px;}
#chinhsuachitieu .item-content-modal:hover{background-color:rgba(51, 51, 51, 0.1);cursor:pointer;}
#chinhsuachitieu .item-content-modal span{color:rgb(51, 51, 51);font-size:16px;}
#chinhsuachitieu .item-content-modal img{width:48px;height:48px;}
#chinhsuachitieu .item-content-modal span.name-vallet{position:absolute;top:7px;left:52px;}
#chinhsuachitieu .item-content-modal span.money-vallet{position:absolute;top:26px;left:52px;color:rgba(0, 0, 0, 0.54);font-size:14px;}
#chinhsuachitieu p{color:rgba(51, 51, 51, 0.54);font-size:14px;}
.header-modal, #chinhsuachitieu h4{color:#fff;font-size:22px;}
#chinhsuachitieu .item-left p{margin:10px;}
#chinhsuachitieu .item-left p.week{font-size:12px;text-transform:uppercase;color:grey;line-height:30px;}
#chinhsuachitieu .item-left p.day-of-month{font-size:48px;color:#333;margin-top:-28px;}
#chinhsuachitieu .item-left p.month-and-year{font-size:12px;color:grey;line-height:30px;margin-top:-28px;}
#chinhsuachitieu .item-left{height:100%;text-align:center;border-right:1px solid rgba(0,0,0,.12);}
#chinhsuachitieu .choose-category{cursor:pointer;}
#chinhsuachitieu .item-left{height:100%;text-align:center;border-right:1px solid rgba(0,0,0,.12);}
#chinhsuachitieu .choose-category{border-bottom:1px solid rgba(0,0,0,.12);}
#chinhsuachitieu .item-left{height:100%;text-align:center;border-right:1px solid rgba(0,0,0,.12);}
#chinhsuachitieu .choose-category i{display:inline-block;margin-left:30px;width:15px;}
#chinhsuachitieu .footer-row-item{height:100px;width:100%;border-top:1px solid rgba(0,0,0,.12);margin:10px 0px 0px 0px;}
#chinhsuachitieu .title-wallet{font-size:12px;}
#chinhsuachitieu .modal-body i{color:#757575!important;text-align:center;}
#chinhsuachitieu .modal-header i{
    color: #fff;
}
#chinhsuachitieu .modal-header i:hover{
    cursor: pointer;
}
#chinhsuachitieu h4{
    font-weight: normal;
}

/* PHẦN MODAL CHỌN MUC */
#chonmuc .modal-content{position:absolute;top:0%;left:15%;background-color:white;width:360px;border-radius:0.5rem;}
#chonmuc .item-content-modal{position:relative;margin:5px 0px;padding:3px 0px;}
#chonmuc .item-content-modal:hover{background-color:rgba(51, 51, 51, 0.1);cursor:pointer;}
#chonmuc .item-content-modal span{color:rgb(51, 51, 51);font-size:16px;}
#chonmuc .item-content-modal img{width:48px;height:48px;}
#chonmuc .item-content-modal span.name-vallet{position:absolute;top:7px;left:52px;}
#chonmuc .item-content-modal span.money-vallet{position:absolute;top:26px;left:52px;color:rgba(0, 0, 0, 0.54);font-size:14px;}
#chonmuc p{color:rgba(51, 51, 51, 0.54);font-size:14px;}