<div class="page">
    <!-- Main Navbar-->
    <app-header></app-header>
    <div class="page-content d-flex align-items-stretch">
        <!-- PHẦN SIDE-NAVBAR -->
       <app-menu></app-menu>
        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">Quản Lý Ví</h2>
                </div>
            </header>
            <!-- Dashboard Counts Section-->
            <section class="dashboard-counts no-padding-bottom">
                <div class="container-fluid">
                    <div id="content">
                        <div class="header-content">
                            <div class="choose-wallet">
                                <a class="my-trigger" data-toggle="modal" data-target="#chonvi">
                                    <img src="https://static.moneylover.me/img/icon/ic_category_all.png" alt="">
                                    <p class="name-wallet">Tất Cả Các Ví
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </p>
                                    <p class="money-wallet">5,000,000</p>
                                </a>
                            </div>
                            <div class="button-add" data-toggle="modal" data-target="#themvi">
                                <button tabindex="0" type="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="button-edit">
                                <button tabindex="0" type="button">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <!-- MODAL CHỌN VÍ-->
                        <choose-wallet></choose-wallet>
                        <!-- MODAL CHỌN VÍ-->
                        <!-- PHẦN MODAL THÊM VÍ -->
                        <add-wallet></add-wallet>
                        <!-- PHẦN MODAL THÊM VÍ -->
                    </div>
                </div>
            </section>

            <!-- THÊM CHI TIÊU, THU NHẬP , NỢ VAY    -->
            <section class="feeds no-padding-top">
                <div class="container-fluid">
                    <div class="row">
                        <!-- PHẦN THÊM CHI TIÊU -->
                        <div class="col-lg-4">
                            <div class="articles card  add-spend">
                                <div class="card-close" data-toggle="modal" data-target="#choose-transaction">
                                    <i aria-hidden="true" class="fa fa-caret-down"></i>
                                </div>
                                <div class="card-header d-flex align-items-center">
                                    <h2 class="h3">Thêm Chi Tiêu </h2>
                                    <div class="badge badge-rounded bg-green">4 New </div>
                                </div>
                                <div class="card-body no-padding">
                                    <div class="row-item">
                                        <div class="img">
                                            <img src="https://static.moneylover.me/img/icon/icon_not_selected.png" alt="">
                                        </div>
                                        
                                        <span class="choose-category category">Chọn Danh Mục
                                            <i aria-hidden="true" class="fa fa-caret-down"></i>
                                        </span>
                                    </div>
                                    <div class="row-item">
                                        <div class="img">
                                            <i class="fa fa-usd" aria-hidden="true"></i>
                                        </div>

                                        <div class="group">
                                            <input type="text" required placeholder="Số tiền">
                                            <span class="bar"></span>
                                        </div>
                                    </div>
                                    <div class="row-item">
                                        <div class="img">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </div>

                                        <div class="group">
                                            <input type="text" required placeholder="Ngi chú">
                                            <span class="bar"></span>
                                        </div>
                                    </div>
                                    <div class="row-item">
                                        <div class="img">
                                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                                        </div>

                                        <div class="group">
                                            <input type="text" required placeholder="Với">
                                            <span class="bar"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-row-item row">
                                    <div class="col-lg-6 col-6 item-left">
                                        <p class="week">MONDAY</p>
                                        <p class="day-of-month">15</p>
                                        <p class="month-and-year">january 2018</p>
                                    </div>
                                    <div class="col-lg-6 col-6 item-right">
                                        <span class="title-wallet">Chọn Ví</span>
                                        <span class="choose-category">Văn Duy
                                            <i aria-hidden="true" class="fa fa-caret-down"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-5"></div>
                                    <div class="col-7">
                                        <button type="button" class="btn btn-success">Thêm Chi Tiêu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- PHẦN MODAL CHỌN GIAO DICH -->
                        <app-choose-transaction></app-choose-transaction>
                    </div>
                </div>
            </section>
            <section class="dashboard-header">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Statistics -->
                        <div class="statistics col-lg-3 col-12">
                            <div class="statistic d-flex align-items-center bg-white has-shadow">
                                <div class="icon bg-red">
                                    <i class="fa fa-tasks"></i>
                                </div>
                                <div class="text">
                                    <strong>234</strong>
                                    <br>
                                    <small>Applications</small>
                                </div>
                            </div>
                            <div class="statistic d-flex align-items-center bg-white has-shadow">
                                <div class="icon bg-green">
                                    <i class="fa fa-calendar-o"></i>
                                </div>
                                <div class="text">
                                    <strong>152</strong>
                                    <br>
                                    <small>Interviews</small>
                                </div>
                            </div>
                            <div class="statistic d-flex align-items-center bg-white has-shadow">
                                <div class="icon bg-orange">
                                    <i class="fa fa-paper-plane-o"></i>
                                </div>
                                <div class="text">
                                    <strong>147</strong>
                                    <br>
                                    <small>Forwards</small>
                                </div>
                            </div>
                        </div>
                        <!-- Line Chart            -->
                        <div class="chart col-lg-6 col-12">
                            <div class="line-chart bg-white d-flex align-items-center justify-content-center has-shadow">
                                <canvas id="lineCahrt"></canvas>
                            </div>
                        </div>
                        <div class="chart col-lg-3 col-12">
                            <!-- Bar Chart   -->
                            <div class="bar-chart has-shadow bg-white">
                                <div class="title">
                                    <strong class="text-violet">95%</strong>
                                    <br>
                                    <small>Current Server Uptime</small>
                                </div>
                                <canvas id="barChartHome"></canvas>
                            </div>
                            <!-- Numbers-->
                            <div class="statistic d-flex align-items-center bg-white has-shadow">
                                <div class="icon bg-green">
                                    <i class="fa fa-line-chart"></i>
                                </div>
                                <div class="text">
                                    <strong>99.9%</strong>
                                    <br>
                                    <small>Success Rate</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- PHẦN HIỂN THỊ THI CHI -->
            <section class="feeds no-padding-top">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Trending Articles-->
                        <div class="col-lg-6 report-overview">
                            <div class="articles card">
                                <div class="card-close">
                                    <div class="dropdown">
                                        <button type="button" id="closeCard4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <div aria-labelledby="closeCard4" class="dropdown-menu dropdown-menu-right has-shadow">
                                            <a href="#" class="dropdown-item remove">
                                                <i class="fa fa-times"></i>Close</a>
                                            <a href="#" class="dropdown-item edit">
                                                <i class="fa fa-gear"></i>Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header d-flex align-items-center">
                                    <h2 class="h3">TỔNG QUAN </h2>
                                    <div class="badge badge-rounded bg-green">4 New </div>
                                </div>
                                <div class="card-body no-padding row">
                                    <div class="lable-money col-lg-8">
                                        <p>Tiền vào</p>
                                        <p>Tiền ra</p>
                                    </div>
                                    <div class="money col-lg-4">
                                        <p>3,000,000 đ</p>
                                        <p>108,009 đ</p>
                                        <div class="line"></div>
                                        <span>3,000,000 đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Check List -->
                        <div class="col-lg-6 report-detail">
                            <div class="checklist card">
                                <div class="card-close">
                                    <div class="dropdown">
                                        <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow">
                                            <a href="#" class="dropdown-item remove">
                                                <i class="fa fa-times"></i>Close</a>
                                            <a href="#" class="dropdown-item edit">
                                                <i class="fa fa-gear"></i>Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header d-flex align-items-center">
                                    <h2 class="h3">Báo cáo chi tiết </h2>
                                </div>
                                <div class="card-body no-padding">
                                    <div class="content-card-body">
                                        <div class="item" data-toggle="modal" data-target="#chinhsuachitieu">
                                            <div class="row">
                                                <div class="date-view col-md-6">
                                                    <span class="view-day">15</span>
                                                    <span class="view-date">
                                                        <span class="days">Monday</span>
                                                        <span class="months">January 2018</span>
                                                    </span>
                                                </div>
                                                <div class="amount col-md-6">
                                                    <span>490,000 ₫</span>
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="row row-item">
                                                <div class="col-md-6 left">
                                                    <div class="img">
                                                        <img src="https://static.moneylover.me/img/icon/ic_category_entertainment.png" alt="">
                                                    </div>
                                                    <div class="info-detail">
                                                        <p>Tiền lương</p>
                                                        <p>havanduy</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 right">
                                                    <p class="red">100,000 d</p>
                                                </div>

                                            </div>
                                            <div class="row row-item">
                                                <div class="col-md-6 left">
                                                    <div class="img">
                                                        <img src="https://static.moneylover.me/img/icon/ic_category_entertainment.png" alt="">
                                                    </div>
                                                    <div class="info-detail">
                                                        <p>Tiền lương</p>
                                                        <p>havanduy</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 right">
                                                    <p class="blue">100,000 d</p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <div class="date-view col-md-6">
                                                    <span class="view-day">15</span>
                                                    <span class="view-date">
                                                        <span class="days">Monday</span>
                                                        <span class="months">January 2018</span>
                                                    </span>
                                                </div>
                                                <div class="amount col-md-6">
                                                    <span>490,000 ₫</span>
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="row row-item">
                                                <div class="col-md-6 left">
                                                    <div class="img">
                                                        <img src="https://static.moneylover.me/img/icon/ic_category_entertainment.png" alt="">
                                                    </div>
                                                    <div class="info-detail">
                                                        <p>Tiền lương</p>
                                                        <p>havanduy</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 right">
                                                    <p class="red">100,000 d</p>
                                                </div>

                                            </div>
                                            <div class="row row-item">
                                                <div class="col-md-6 left">
                                                    <div class="img">
                                                        <img src="https://static.moneylover.me/img/icon/ic_category_entertainment.png" alt="">
                                                    </div>
                                                    <div class="info-detail">
                                                        <p>Tiền lương</p>
                                                        <p>havanduy</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 right">
                                                    <p class="blue">100,000 d</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- PHẦN MODAL CHỈNH SỬA GIAO DỊCH -->
            <app-change-transaction></app-change-transaction>
            
            <!-- Page Footer-->
            <app-footer></app-footer>
        </div>
    </div>
</div>