<div class="modal fade" id="choose-transaction" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chọn Loại Giao Dich</h4>
                <span class="close-button" data-dismiss="modal">×</span>
            </div>
            <div class="modal-body">
                <div class="item-content-modal">
                    <img src="https://static.moneylover.me/img/icon/ic_category_all.png" alt="">
                    <span class="name-vallet">Thêm Chi Tiêu</span>
                    <span class="money-vallet">22 categiry</span>
                </div>
                <div class="item-content-modal">
                    <img src="https://static.moneylover.me/img/icon/icon.png" alt="">
                    <span class="name-vallet">Thêm Thu Nhập</span>
                    <span class="money-vallet">22 category</span>
                </div>
                <div class="item-content-modal">
                    <img src="https://static.moneylover.me/img/icon/icon.png" alt="">
                    <span class="name-vallet">Đi Vay & Cho Vay</span>
                    <span class="money-vallet">22 category</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-cancel" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-success btn-add">Chọn</button>
            </div>
        </div>

    </div>
</div>