<!-- <div class="modal fade" id="choose-transaction" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chọn Loại Giao Dich</h4>
                <span class="close-button" data-dismiss="modal">×</span>
            </div>
            <div class="modal-body">
                <div class="item-content-modal">
                    <img src="https://static.moneylover.me/img/icon/ic_category_all.png" alt="">
                    <span class="name-vallet">Thêm Chi Tiêu</span>
                    <span class="money-vallet">22 categiry</span>
                </div>
                <div class="item-content-modal">
                    <img src="https://static.moneylover.me/img/icon/icon.png" alt="">
                    <span class="name-vallet">Thêm Thu Nhập</span>
                    <span class="money-vallet">22 category</span>
                </div>
                <div class="item-content-modal">
                    <img src="https://static.moneylover.me/img/icon/icon.png" alt="">
                    <span class="name-vallet">Đi Vay & Cho Vay</span>
                    <span class="money-vallet">22 category</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-cancel" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-success btn-add">Chọn</button>
            </div>
        </div>

    </div>
</div> -->


<div class="modal fade" id="choose-transaction" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <h4 class="modal-title">Chọn Loại Giao Dich</h4>
                <i class="fa fa-times" aria-hidden="true" data-dismiss="modal"></i>
                
                <div class="clr"></div>
                <div class="tab">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="#thunhap" data-toggle="tab" class="active">THU NHẬP<div class="line"></div></a>
                        </li>
                        <li><a href="#info" data-toggle="tab">CHI TIÊU<div class="line"></div></a></li>
                        <li><a href="#contact" data-toggle="tab">NỢ<div class="line"></div></a></li>
                    </ul>
                </div>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="thunhap">
                        <ul class="tab-thunhap">
                            <li>
                                <img src="https://static.moneylover.me/img/icon/ic_category_entertainment.png" alt="">
                                <p>havanduy</p>
                            </li>
                            <li>
                                <img src="https://static.moneylover.me/img/icon/ic_category_entertainment.png" alt="">
                                <p>havanduy</p>
                            </li>
                            <li>
                                <img src="https://static.moneylover.me/img/icon/ic_category_entertainment.png" alt="">
                                <p>havanduy</p>
                            </li>
                            <li>
                                <img src="https://static.moneylover.me/img/icon/ic_category_entertainment.png" alt="">
                                <p>havanduy</p>
                            </li>
                            <li>
                                <img src="https://static.moneylover.me/img/icon/ic_category_entertainment.png" alt="">
                                <p>havanduy</p>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="info">Thông Tin</div>
                    <div class="tab-pane" id="contact">Liên Hệ</div>
                </div>
            </div>
        </div>
    </div>
</div>