<section style="height: 800px;">
    <div class="container-fluid">
        <div id="content">
            <div class="header-content">
                <h4>Chi Tiết Khoản Tiết Kiệm</h4>
            </div>

            <div class="row">
                <div class="budget col-lg-5">
                    <div class="info">
                        <div class="row item-budget">
                            <div class="button-edit" data-toggle="modal" data-target="#updatebudget">
                                <button tabindex="0" type="button">
                                    <app-edit-saving></app-edit-saving>
                                </button>
                            </div>
                            <div class="image col-2">
                                <img src="http://localhost:3000/images/{{dataSaving.image}}.png" alt="">
                            </div>
                            <div class="row content-item-budget col-10">
                                <div class="name-budget col-12">
                                    <p>{{dataSaving.namesaving}}</p>
                                    <p>{{dataSaving.moneyend | number}} đ</p>
                                </div>
                                <div class="row spent-money col-12">
                                    <div class="spent col-6">
                                        <p>Đã lưu</p>
                                        <p>{{dataSaving.moneyTransaction | number}} đ</p>
                                    </div>
                                    <div class="money-item col-6">
                                        <p *ngIf="dataSaving.remainMoney >=0">Cần thêm</p>
                                        <p *ngIf="dataSaving.remainMoney >=0">{{dataSaving.remainMoney | number}} đ</p>
                                        <p *ngIf="dataSaving.remainMoney <0">Vượt quá</p>
                                        <p *ngIf="dataSaving.remainMoney <0">{{dataSaving.remainMoney *-1 | number}} đ</p>
                                    </div>
                                </div>

                                <div class="cssProgress">
                                    <div class="progress4">
                                        <div class="cssProgress-bar cssProgress-danger cssProgress-glow" data-percent="35" [style.width.%]="dataSaving.percent"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row item-budget">
                            <div class="offset-2"></div>
                            <div class="col-10">
                                <div class="line"></div>
                            </div>
                        </div>
                        <div class="row item-budget">
                            <div class="image miniimage col-2">
                                <img src="http://localhost:3000/images/calendar.png" alt="">
                            </div>
                            <div class="row content-item-budget col-10">
                                <div class="calendar col-11">
                                    <p>{{dataSaving.enddate | date: 'dd/MM/yyyy'}}</p>
                                    <p *ngIf="dataSaving.dateRemain > 0">Còn lại {{dataSaving.dateRemain}} ngày</p>
                                    <p *ngIf="dataSaving.dateRemain <= 0">Quá hạn {{(dataSaving.dateRemain *-1)+1}} ngày</p>
                                </div>
                            </div>
                        </div>
                        <div class="row item-budget">
                            <div class="image miniimage col-2">
                                <img src="http://localhost:3000/images/wallet.png" alt="">
                            </div>
                            <div class="row content-item-budget col-10">
                                <p class="name-wallet">{{nameWallet}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="info info-buttom" *ngIf="dataSaving.status == 'false'">
                        <div class="item-budget">
                            <app-send-in></app-send-in>
                        </div>
                        <div class="item-budget" *ngIf="dataSaving.moneyTransaction > 0">
                            <app-send-out></app-send-out>
                        </div>
                        <div class="item-budget" *ngIf="dataSaving.moneyTransaction >= dataSaving.moneyend">
                            <span (click)="use()">Sử dụng</span>
                        </div>
                    </div>
                    <div class="info info-remove">
                        <span (click)=openModalDelete(modalDelete) >Xoá</span>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <app-report class="col-6" [inputTransactions]="dataSaving.arrTransaction"></app-report>
            </div>
        </div>
    </div>
</section>
<ng-template #modalDelete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Thông báo</h4>
    </div>
    <div class="modal-body" class="modalDelete">
        <p>Bạn có chắc chắn muốn xoá khoản tiết kiệm này không
        </p>
        <p class="yes" (click)="deleteSaving()" (click)="c('Close click')">CÓ</p>
        <p class="no" (click)="c('Close click')">KHÔNG</p>
    </div>
</ng-template>