<app-location></app-location>
<!-- THÊM CHI TIÊU, THU NHẬP , NỢ VAY    -->
<section class="feeds no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <!-- PHẦN THÊM CHI TIÊU -->
            <div class="articles card  add-spend">
                <div class="card-header d-flex align-items-center">
                    <h2 class="h3"> {{ titleTransaction }} </h2>
                </div>
                <div class="card-body">
                    <div class="row-item">
                        <div class="img">
                            <img src="http://localhost:3000/images/{{transaction.imagecategory}}.png" alt="">
                        </div>
                        <span class="choose-category category" data-toggle="modal" data-target="#choose-category-add-wallet">{{ transaction.categorytransaction }}
                            <i aria-hidden="true" class="fa fa-caret-down"></i>
                        </span>
                    </div>
                    <div class="row-item">
                        <div class="img">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                        </div>

                        <div class="group">
                            <input type="text" [(ngModel)]="transaction.moneytransaction" required placeholder="Số tiền">
                            <span class="bar"></span>
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="img">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </div>

                        <div class="group">
                            <input type="text" name="note" [(ngModel)]="transaction.notetransaction" required placeholder="Ngi chú">
                            <span class="bar"></span>
                        </div>
                    </div>
                   
                </div>
                <div class="footer-row-item row">
                    <div class="col-6 item-left" (click)="picker.open()">
                        <p class="week">{{ dateCurrent | weekday }}</p>
                        <p class="day-of-month">{{ dateCurrent | date: 'dd' }}</p>
                        <p class="month-and-year">Tháng {{ dateCurrent | date: 'MM' }} {{ dateCurrent | date: 'yyyy' }}</p>
                    </div>
                    <mat-form-field>
                        <input (dateChange)="changeDate($event)" matInput [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <div class="col-6 item-right">
                        <span class="title-wallet">Chọn Ví</span>
                        <span class="choose-category" data-toggle="modal" data-target="#choose-wallet-add-transaction">{{ nameWallet }}
                            <i aria-hidden="true" class="fa fa-caret-down"></i>
                        </span>
                    </div>
                </div>
                <div class="adddetail">
                    <div class="row-item" (click)="adddetail = !adddetail" [attr.aria-expanded]="!adddetail">
                        <i class="fa fa-caret-down"></i>
                        <span class="totaladddetail">Thêm Chi Tiết</span>
                    </div>
                    <div class="body-detail" [ngbCollapse]="adddetail">
                        <div class="row-item">
                            <div class="img">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </div>

                            <div class="group">
                                <input type="text" id="taguser">
                                <span class="bar"></span>
                            </div>
                        </div>

                        <div class="row-item" (click)="open(content)">
                            <div class="img">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="group addmap">
                                <span>{{objLocation.name}}</span>
                            </div>
                        </div>

                        <div class="row-item" *ngIf="url">
                            <span class="close-button" (click)="deleteImage()">×</span>
                            <img [src]="url" alt="" width="300px" height="200px">
                        </div>
                        <div class="row-item" *ngIf="!url">
                            <div class="img">
                                <i class="fa fa-image"></i>
                            </div>
                            <div class="group addimage">
                                <label for="file">Thêm Hình Ảnh</label>
                            </div>
                            <input id="file" type="file" name="file" style="display:none" (change)="onSelectFile($event)"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-5"></div>
                    <div class="col-7">
                        <button type="button" class="btn btn-success" (click)="submitTransaction(modalCheckMoney)">{{ nameButtonTransaction }}</button>
                    </div>
                </div>
            </div>
            <!-- PHẦN MODAL CHỌN GIAO DICH -->
            <app-choose-category-add-wallet (chooseDataCategory)="chooseCategory($event)"></app-choose-category-add-wallet>

            <!-- PHẦN CHỌN VÍ -->
            <app-choose-wallet-add-transaction [inputSelectWallet]="transaction.idwallet" (outputSelectIDWallet)="outputIdWallet($event)"></app-choose-wallet-add-transaction>

        </div>
    </div>
</section>

<!-- PHẦN MODEL HIỂN THỊ ĐỊA ĐIỂM -->
<ng-template  #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Chọn địa điểm</h4>
    </div>
    <div id="modalloaction" class="modal-body">
        <div *ngIf="transaction.location"  class="row-item row" (click)="deleteLocation()" (click)="c('Close click')">
            <div class="col-2">
                X
            </div>
            <div class="col-10">
                Chưa Đặt
            </div>
        </div>
        <div *ngFor="let place of allPlace" class="row-item row" (click)="submitLocation(place)" (click)="c('Close click')">
            <div class="col-2">
                <img src="{{place.icon}}" alt="">
            </div>
            <div class="col-10">
                <p class="name">
                    {{place.name}}
                </p>
                <p class="place">
                    {{place.vicinity}}
                </p>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #modalCheckMoney let-c="close" let-d="dismiss">
    <div class="modal-body">
      <p class="description">Số tiền hiện tại trong ví {{infoCheckMoney.namewallet}} là {{infoCheckMoney.moneywallet | number}} đ . Bạn đang muốn thêm 1 giao dịch {{infoCheckMoney.moneytrnasction | number}} đ
          . Bạn cần chọn một trong các hành động dưới đây
      </p>
      <p class="btn-info-my" (click)="changeMoneyWallet()">Điều chỉnh số tiền trong ví lên {{infoCheckMoney.moneytrnasction | number}} đ</p>
      <p *ngIf="infoCheckMoney.moneywallet > 0" class="btn-info-my" (click)="changeMoneyTransaction()">Điều chỉnh số tiền của giao dịch xuống {{infoCheckMoney.moneywallet | number}} đ</p>
      <p class="btn-delete-only" (click)="d('Cross click')">ĐÓNG</p>
    </div>
  </ng-template>