<div class="listsavings col-8">
  <div class="circle" data-toggle="modal" data-target="#modalAddSaving">
    <app-addsaving></app-addsaving>
  </div>
  <mat-tab-group>
    <mat-tab label="Đang Áp Dụng">
      <div class="content">
        <div *ngFor="let dataSaving of dataSavings">
          <div *ngIf="dataSaving.status == 'false'" class="saving" [routerLink]="dataSaving._id">
            <div class="row">
              <div class="img">
                <img src="http://localhost:3000/images/{{dataSaving.image}}.png" alt="">
              </div>
              <div class="info">
                <div class="row">
                  <div class="col-6 namesaving">
                    <h4>{{dataSaving.namesaving}}</h4>
                  </div>
                  <div class="col-6 moneysaving">{{dataSaving.moneyend | number}} đ</div>
                </div>
                <div class="col-12 remainday">
                  <span *ngIf="dataSaving.dateRemain <= 0">Quá hạn {{(dataSaving.dateRemain *-1)+1}} ngày</span>
                  <span *ngIf="dataSaving.dateRemain > 0">Còn {{ dataSaving.dateRemain }} ngày </span>
                </div>

                <div class="col-12">
                  <div class="cssProgress">
                    <div class="progress4">
                      <div class="cssProgress-bar cssProgress-danger cssProgress-glow" [style.width.%]="dataSaving.percent" data-percent="35"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Đã Kết Thúc">
      <div class="content">
        <div *ngFor="let dataSaving of dataSavings">
          <div *ngIf="dataSaving.status == 'true'" class="saving" [routerLink]="dataSaving._id">
            <div class="row">
              <div class="img">
                <img src="http://localhost:3000/images/{{dataSaving.image}}.png" alt="">
              </div>
              <div class="info">
                <div class="row">
                  <div class="col-6 namesaving">
                    <h4>{{dataSaving.namesaving}}</h4>
                  </div>
                  <div class="col-6 moneysaving">{{dataSaving.moneyend | number}} đ</div>
                </div>
                <div class="col-12 remainday">
                  <span *ngIf="dataSaving.dateRemain <= 0">Quá hạn {{(dataSaving.dateRemain *-1)+1}} ngày</span>
                  <span *ngIf="dataSaving.dateRemain > 0">Còn {{ dataSaving.dateRemain }} ngày </span>
                </div>

                <div class="col-12">
                  <div class="cssProgress">
                    <div class="progress4">
                      <div class="cssProgress-bar cssProgress-danger cssProgress-glow" [style.width.%]="dataSaving.percent" data-percent="35"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <!-- <app-detailsaving></app-detailsaving> -->
</div>