<div class="detail">
        <div class="header row">
          <div class="col-md-2 offset-10">
            <i class="fa fa-pencil" aria-hidden="true" data-toggle="modal" data-target="#modalEditSaving"></i>
            <i class="fa fa-trash-o" (click)="deleteSaving()" routerLink="/savings"></i>
            <button type="button" class="close" routerLink="/savings">&times;</button>
          </div>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-3 offset-2">
              <img src="assets/images/budget.png" width="60%" height="80%" alt="">
              <!-- <img src="assets/images/{{dataSaving.image}}.png" width="60%" height="80%" alt=""> -->
            </div>
            <div class="col-md-7">
              <div class="name">
                {{dataSaving.namesaving}}
              </div>
              <div class="moneyend">
                {{dataSaving.moneyend | number:'1.0-0'}}
              </div>
              <div class="money">
                <div class="row">
                  <div class="col1">
                    <div class="saved">Đã lưu</div>
                    <div>{{dataSaving.moneyend/10 | number:'1.0-0'}}</div>
                  </div>
                  <div class="col2">
                    <div class="need">Cần Thêm</div>
                    <div>{{dataSaving.moneyend - dataSaving.moneyend/10 | number:'1.0-0'}}</div>
                  </div>
                </div>
                <div class="row">
                  <mat-progress-bar mode="determinate" value="{{dataSaving.moneyend*10 / dataSaving.moneyend}}"></mat-progress-bar>
                  <!-- abc -->
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="deposit col-md-3 offset-md-3" (click)="getInTransaction()" data-toggle="modal" data-target="#modalTransactionSaving">
              <img src="assets/images/deposit.png" width="40%" alt="" srcset="">
              <br>
              <div class="title">
                GỬI VÀO
              </div>
            </div>
            <div class="withdraw col-md-3" (click)="getOutTransaction()" data-toggle="modal" data-target="#modalTransactionSaving">
              <img src="assets/images/withdraw.png" width="40%" alt="" srcset="">
              <br>
              <div class="title">
                RÚT RA
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12 btntran">
              <button type="button" class="btn btn-success">DANH SÁCH GIAO DỊCH</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <app-editsaving [dataSaving]='dataSaving'></app-editsaving> -->
      <!-- <app-transaction-sv [transaction]='transaction'></app-transaction-sv> -->