<div class="modal fade" id="choose-category-add-wallet" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chọn Loại Giao Dich</h4>
                <div class="clr"></div>
                <div class="tab">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="#income" data-toggle="tab" class="active">THU NHẬP
                                <div class="line"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#expense" data-toggle="tab">CHI TIÊU
                                <div class="line"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#debtloan" data-toggle="tab">NỢ
                                <div class="line"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-body">
                <div class="tab-content">

                    <!-- PHẦN THU NHẬP -->
                    <div class="tab-pane active" id="income">
                        <ul class="tab-thunhap">
                            <li *ngFor="let item_income of dataIncome">
                                <div *ngIf="item_income.iduser" (click)=openModalDelete(modalDelete) (click)="objectDemove('income', item_income._id)"  class="icontrash">
                                    <span>
                                        <i class="fa fa-trash"></i>
                                    </span>
                                </div>
                                <img src="http://localhost:3000/images/{{item_income.image}}.png" alt="">
                                <p data-dismiss="modal" class='name' (click)="chooseCategory($event)">{{ item_income.name }}</p>
                                <input type="hidden" name="id" value="{{ item_income._id }}">
                                <input type="hidden" name="detect" value="{{ item_income.detect }}">
                            </li>
                            <li data-toggle="modal" data-target="#modalAddCategory">
                                <img src="http://localhost:3000/images/plus.png" alt="">
                                <p>Nhóm mới</p>
                            </li>
                        </ul>

                    </div>
                    <!-- PHẦN THU NHẬP -->

                    <!-- PHẦN CHI TIÊU -->
                    <div class="tab-pane" id="expense">
                        <ul class="tab-thunhap">
                            <li *ngFor="let itemExpense of dataExpense">
                                <div *ngIf="itemExpense.iduser" (click)=openModalDelete(modalDelete) (click)="objectDemove('expense', itemExpense._id)" class="icontrash">
                                    <span>
                                        <i class="fa fa-trash"></i>
                                    </span>
                                </div>
                                <img src="http://localhost:3000/images/{{itemExpense.image}}.png" alt="">
                                <p data-dismiss="modal" class='name' (click)="chooseCategory($event)">{{ itemExpense.name }}</p>
                                <input type="hidden" name="id" value="{{ itemExpense._id }}">
                                <input type="hidden" name="detect" value="{{ itemExpense.detect }}">
                            </li>
                            <li data-toggle="modal" data-target="#modalAddCategory">
                                <img src="http://localhost:3000/images/plus.png" alt="">
                                <p>Nhóm mới</p>
                            </li>
                        </ul>
                    </div>
                    <!-- PHẦN CHI TIÊU -->

                    <!-- PHẦN NỢ -->
                    <div class="tab-pane" id="debtloan">
                        <ul class="tab-thunhap">
                            <li *ngFor="let item_debtloan of dataDebtLoan">
                                <img src="http://localhost:3000/images/{{item_debtloan.image}}.png" alt="">
                                <p data-dismiss="modal" class='name' (click)="chooseCategory($event)">{{ item_debtloan.name }}</p>
                                <input type="hidden" name="id" value="{{ item_debtloan._id }}">
                                <input type="hidden" name="detect" value="{{ item_debtloan.detect }}">
                            </li>
                        </ul>
                    </div>
                    <!-- PHẦN NỢ -->
                </div>
            </div>
        </div>
    </div>
</div>

<app-upload-category></app-upload-category>
<ng-template #modalDelete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Thông báo</h4>
    </div>
    <div class="modal-body" class="modalDelete">
        <p>Việc xoá đi Category này sẽ kèm theo xoá tất cả các giao dịch liên quan. Bạn có chắc muốn xoá không ?
        </p>
        <p class="yes" (click)="removeCategory()" (click)="c('Close click')">CÓ</p>
        <p class="no" (click)="c('Close click')">KHÔNG</p>
    </div>
</ng-template>