<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info" align="center">
                        <div class="content">
                            <img [src]="url" alt="" width="300px" height="300px">
                            <form>
                                <br>
                                <label for="file" class="btn btn-info">Chọn ảnh thay</label>
                                <input id="file" type="file" name="file" style="display:none" (change)="onSelectFile($event)"/><br>
                                <input (click)="doiAvatar()"  class="btn btn-info" type='submit' value='Thay ảnh đại diện' />
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content"  align="center">
                            <h1>Thông tin tài khoản</h1>
                            <br>
                            <div>
                                <p>Tên người dùng: {{user.username}}</p>
                                <p>Email: {{user.email}}</p>
                            </div>
                            <button (click)="goHome()" class="btn btn-info">Về trang chủ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>