 <!-- THÊM CHI TIÊU, THU NHẬP , NỢ VAY    -->
 <section class="feeds no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <!-- PHẦN THÊM CHI TIÊU -->
            <div class="col-lg-4">
                <div class="articles card  add-spend">
                    <div class="card-close" data-toggle="modal" data-target="#choose-transaction">
                        <i aria-hidden="true" class="fa fa-caret-down"></i>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h3">Thêm Chi Tiêu </h2>
                        <div class="badge badge-rounded bg-green">4 New </div>
                    </div>
                    <div class="card-body no-padding">
                        <div class="row-item">
                            <div class="img">
                                <img src="https://static.moneylover.me/img/icon/icon_not_selected.png" alt="">
                            </div>
                            
                            <span class="choose-category category">Chọn Danh Mục
                                <i aria-hidden="true" class="fa fa-caret-down"></i>
                            </span>
                        </div>
                        <div class="row-item">
                            <div class="img">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                            </div>

                            <div class="group">
                                <input type="text" required placeholder="Số tiền">
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="row-item">
                            <div class="img">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </div>

                            <div class="group">
                                <input type="text" required placeholder="Ngi chú">
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="row-item">
                            <div class="img">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </div>

                            <div class="group">
                                <input type="text" required placeholder="Với">
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="footer-row-item row">
                        <div class="col-lg-6 col-6 item-left">
                            <p class="week">MONDAY</p>
                            <p class="day-of-month">15</p>
                            <p class="month-and-year">january 2018</p>
                        </div>
                        <div class="col-lg-6 col-6 item-right">
                            <span class="title-wallet">Chọn Ví</span>
                            <span class="choose-category">Văn Duy
                                <i aria-hidden="true" class="fa fa-caret-down"></i>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-5"></div>
                        <div class="col-7">
                            <button type="button" class="btn btn-success">Thêm Chi Tiêu</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PHẦN MODAL CHỌN GIAO DICH -->
          
        </div>
    </div>
</section>