 <!-- THÊM CHI TIÊU, THU NHẬP , NỢ VAY    -->
 <section class="feeds no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <!-- PHẦN THÊM CHI TIÊU -->
            <div class="col-lg-4">
                <div class="articles card  add-spend">
                    
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h3"> {{ titleTransaction }} </h2>
                    </div>
                    <div class="card-body">
                        <div class="row-item">
                            <div class="img">
                                <img src="{{ chooseDataTransaction.image }}" alt="">
                            </div>
                            
                            <span class="choose-category category" data-toggle="modal" data-target="#choose-transaction">{{ chooseDataTransaction.name }}
                                <i aria-hidden="true" class="fa fa-caret-down"  ></i>
                            </span>
                        </div>
                        <div class="row-item">
                            <div class="img">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                            </div>

                            <div class="group">
                                <input name="money" type="text" required placeholder="Số tiền">
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="row-item">
                            <div class="img">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </div>

                            <div class="group">
                                <input type="text" name="note" required placeholder="Ngi chú">
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="row-item">
                            <div class="img">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </div>

                            <div class="group">
                                <input type="text" id="taguser" required placeholder="Với">
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="footer-row-item row">
                        <div class="col-lg-6 col-6 item-left" (click)="picker.open()">
                            <p class="week">{{ dateCurrent.day }}</p>
                            <p class="day-of-month">{{ dateCurrent.date }}</p>
                            <p class="month-and-year">Tháng {{ dateCurrent.month }} {{ dateCurrent.year }}</p>
                        </div>
                        <mat-form-field>
                            <input (dateChange)="changeDate($event)" matInput [matDatepicker]="picker" placeholder="Choose a date">
                            <mat-datepicker  #picker></mat-datepicker>
                        </mat-form-field>
                        <div class="col-lg-6 col-6 item-right">
                            <span class="title-wallet">Chọn Ví</span>
                            <span class="choose-category" data-toggle="modal" data-target="#choose-wallet-transaction">{{ selectWallet.namewallet }}
                                <i aria-hidden="true" class="fa fa-caret-down"></i>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-5"></div>
                        <div class="col-7">
                            <button type="button" class="btn btn-success" (click)="submitTransaction()">{{ nameButtonTransaction }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PHẦN MODAL CHỌN GIAO DICH -->
            <app-choose-transaction [dataIncome]="dataIncome" [dataExpense]="dataExpense" [dataDebtLoan]="dataDebtLoan" (chooseDataTransaction)="chooseTransaction($event)"></app-choose-transaction>
            
            <!-- PHẦN MODAL CHỌN VÍ -->
            <app-choose-wallet-transaction (outputSelectIDWallet)="eventoutputSelectIDWallet($event)" [inputSelectWallet]="selectWallet"></app-choose-wallet-transaction>
        </div>
    </div>
</section>