
// Phần buuton add
.button-close button, .button-save button, .button-arrow button{
    border:10px;
    background-color:rgb(90, 241, 88);
    height:56px;
    width:56px;
    border-radius:50%;
    color:rgba(0, 0, 0, 0.6);
  }
  .btn-delete-only{
    border: 1px solid #898989;
    color: #898989;
    padding: 5px 0px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    &:hover{
        background: #898989;
        color: #fff;
    }
}
  .button-close{
    box-shadow:rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    border-radius:50%;
    display:inline-block;
    position:absolute;
    top: -28px;
    right: -26px;
    i{
      color: #000 !important;
    }
  }

/* PHẦN MODAL THÊM VÍ */
:host{
    .img-wallet img{
        height: 30px;
        width: 30px;
    }
    .choose-category{
        cursor:pointer;
        width: 100%;
        height: 35px;
        border-bottom:1px solid rgba(0, 0, 0, 0.3);
        i{
            float: right;
            margin-top: 6px;
        }
    }
    .wallet{
        &:focus{
            box-shadow: #fff;
        }
        outline:none;
        border-radius: 0px;
        border-width: 0px 0px 1px 0px !important;
    }
    
    .header-modal, h4{
        font-size:18px;
     }
    .modal-header{
        background-color:rgb(45, 184, 76);
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
        box-shadow:rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
        border:0px !important;
    }
    .modal-content{
        position:absolute;
        top:0%;
        left:13.5%;
        background-color:white;
        width:360px;
        border-radius:0.5rem;
    }
    .modal-footer{
        border:0px !important;
    }
    .row-item{
        margin:30px 0px;        
        &:last-child{
            margin-bottom: 0px;
        }
        &:first-child{
            margin-top: 5px;
        }
    }
    button.btn-success{
        margin-right: 5px;
    }
    .img{
        width:50px;
        display:inline-block;
        text-align:center;
    }
    i{
        // width:48px;
        text-align:center;
        color: #757575;
    }
    img{
        width:48px;
        height:48px;
    }
    p{
        color:rgba(51, 51, 51, 0.54);
        font-size:14px;
    }
    .item-content-modal{
        position:relative;
        margin:5px 0px;
        padding:3px 0px;
        &:hover{
            background-color:rgba(51, 51, 51, 0.1);
            cursor:pointer;
        }
        span{
            color:rgb(51, 51, 51);
            font-size:16px;
        }
        span.name-vallet{
            position:absolute;
            top:7px;
            left:52px;
        }
        span.money-vallet{
            position:absolute;
            top:26px;
            left:52px;
            color:rgba(0, 0, 0, 0.54);
            font-size:14px;
        }
    }

    .close-button{
        float:right;
        width:1.5rem;
        line-height:1.5rem;
        text-align:center;
        cursor:pointer;
        border-radius:0.25rem;
        background-color:lightgray;
    }
    .close-button:hover{
        background-color:darkgray;
    }
}


/* HIỆU ỨNG INPUT */

.group{
    width:80%;
    display:inline-block;
    label{
        margin: 0px;
        color: #7f7e84 !important;
    }
}
 input{
     font-size:16px;
     padding:-1px 10px 8px 5px;
     display:block;width:100%;
     border:none;
     border-bottom:1px solid rgba(0, 0, 0, 0.3);
}
 input::placeholder{
     color:rgba(0, 0, 0, 0.3);
}
 input:focus{
     outline:none;
     border-bottom:0px
}
 input:focus ~ label, input:valid ~ label{
     top:-20px;
     font-size:14px;
     color:rgb(45, 184, 76);
}
 .bar{
     position:relative;
     display:block;
     width:100%;
}
 .bar:before, .bar:after{
     content:'';
     height:2px;
     width:0;
     bottom:1px;
     position:absolute;
     background:rgb(45, 184, 76);
     transition:0.2s ease all;
     -moz-transition:0.2s ease all;
     -webkit-transition:0.2s ease all;
}
 .bar:before{
     left:50%;
}
 .bar:after{
     right:50%;
}
 input:focus ~ .bar:before, input:focus ~ .bar:after{
     width:50%;
    }
