<!-- Modal Add Wallet -->
<div class="modal fade" id="modalTransactionSaving">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Tạo Khoản Tiết Kiệm</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-2">
                  <img src="assets/images/receber.png" width="80%" height="100%" alt="">
                </div>
                <div class="col-lg-10">
                  <!-- Name -->
                  <!-- <input type="text" class="input-add" name="Name" readonly placeholder={{transaction.walletid}}>
                  <span class="focus-border"></span> -->
                  <mat-form-field>
                    <mat-select placeholder="V">
                      <mat-option *ngFor="let wallet of wallets" [value]="wallet._id">
                        {{ wallet.namewallet }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                  <br>
                  <span>Số tiền</span>
                  <br>
                  <input type="number" class="input-add" style="width: 130px;" min="0" [(ngModel)]="transaction.money"
                    placeholder="0"> đ
                  <span style="width:130px" class="focus-border"></span>
                </div>
                <hr>
              </div>
              <br>
              <!-- <div class="row">
                <div class="col-lg-2">
                  <img src="assets/images/message.png" width="80%" height="100%" alt="">
                </div>
                <div class="col-lg-10"> -->
                  <!-- <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field> -->
                <!-- </div>
              </div> -->
              <br>
              <div class="row">
                <div class="col-lg-2">
                  <img src="assets/images/message.png" width="80%" height="100%" alt="">
                </div>
                <div class="col-lg-10">
                  <input type="text" class="input-add" name="Name" [(ngModel)]="transaction.status">
                  <span class="focus-border"></span>
                </div>
              </div>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <div class="col-lg-3">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
              <div class="col-lg-7"></div>
              <div class="col-lg-2">
                <button type="button" (click)="addTransaction(transaction)" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#modalAddWall">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>