<div class="modal fade" id="chonvi" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chọn Ví</h4>
                <span class="close-button" data-dismiss="modal">×</span>
            </div>
            <div class="modal-body">
                <div class="item-content-modal">
                    <img src="https://static.moneylover.me/img/icon/ic_category_all.png" alt="">
                    <span>Tất cả các ví</span>
                </div>
                <p>Tiền mặt</p>
                <div class="item-content-modal">
                    <img src="https://static.moneylover.me/img/icon/icon.png" alt="">
                    <span class="name-vallet">vanduy</span>
                    <span class="money-vallet">2,299,992 ₫</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-cancel" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#themvi">Thêm Ví</button>
            </div>
        </div>

    </div>
</div>