
*{
    margin: 0px;
    padding: 0px;
}
.header-content{
    text-align: center;
    background-color: #2db84c;
    width: 100%;
}

.header-content .choose-wallet p.name-wallet{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
.header-content .choose-wallet p.money-wallet{
    font-size: 36px;
    color: #fff;
    display: inline;
}
.header-content .choose-wallet img{
    width: 72px;
    height: 72px;
}
/* PHẦN MODAL */
.my-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scaleX(1.1) scaleY(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.my-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 360px;
    padding: 10px !important;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1.0) scaleY(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.header-modal{
    color: rgb(51, 51, 51);
    font-size: 22px;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 6px 17px 12px;
}

/* PHẦN CHỌN VÍ */
.item-content-modal{
    position: relative;
    margin: 5px 0px;
    padding: 3px 0px;
}
.item-content-modal:hover{
    background-color: rgba(51, 51, 51, 0.1);
    cursor: pointer;
}
.item-content-modal span{
    color: rgb(51, 51, 51);
    font-size: 16px;
}
.item-content-modal img{
    width: 48px;
    height: 48px;
}
.item-content-modal span.name-vallet{
    position: absolute;
    top: 7px;
    left: 52px;
}
.item-content-modal span.money-vallet{
    position: absolute;
    top: 26px;
    left: 52px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}
.my-modal-content p{
    color: rgba(51, 51, 51, 0.54);
    font-size: 14px;
    /* font-weight: 500; */
    line-height: 38px;
}

/* FOOTER MODEL */
.footer-modal{
    padding: 10px 0px;
    border-top: 1px solid rgb(224, 224, 224);
}
.footer-modal .btn-cancel{
    width: 100px;
    float: left;
    height: 37px;
}
.footer-modal .btn-add{
    width: 100px;
    float: right;
    height: 37px;
}

