<div id="content">
    <div class="header-content">
        <div class="choose-wallet">
            <a class="my-trigger">
                <img src="assets/images/icon.png" alt="">
                <p class="name-wallet">Tất Cả Các Ví <i class="fa fa-caret-down" aria-hidden="true"></i></p>
                <p class="money-wallet">5,000,000</p>
            </a>
        </div>
    </div>
    <div class="my-modal show-modal">
        <div class="my-modal-content">
            <span class="close-button">&times;</span>
            <div class="header-modal">
                Chọn Ví
            </div>
            <div class="item-content-modal">
                <img src="assets/images/icon.png" alt="">
                <span>Tất cả các ví</span>
            </div>
            <p>Tiền mặt</p>
            <div class="item-content-modal">
                <img src="assets/images/wallet.png" alt="">
                <span class="name-vallet">vanduy</span>
                <span class="money-vallet">2,299,992 ₫</span>
            </div>
            <div class="footer-modal">
                <button type="button" class="btn btn-light btn-cancel">Huỷ</button>
                <button type="button" class="btn btn-success btn-add">Thêm Ví</button>
            </div>
            <div class="clr"></div>
        </div>
    </div>
</div>

