<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div (click)="moveToProfile()" class="sidebar-header d-flex align-items-center">
        <div class="avatar">
            <img src="{{ userW.hinhanh }}" alt="..." class="img-fluid rounded-circle">
        </div>
        <div class="title">
            <h1 class="h4">{{ userW.username }}</h1>
            <p>{{userW.email}}</p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus-->
    <span class="heading">Main</span>
    <ul class="list-unstyled">
        <li routerLink="" routerLinkActive="active">
            <a routerLink="" routerLinkActive="active">
                <i class="icon-home"></i>Ví 
            </a>
        </li>
        <li>
            <a routerLink="/report" routerLinkActive="active">
                <i class="icon-home"></i>Báo cáo 
            </a>
        </li>
        <li>
            <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
                <i class="icon-interface-windows"></i>Lập Kế Hoạch </a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li>
                    <a routerLink="/budget">Ngân sách</a>
                </li>
                <li routerLink="/savings" routerLinkActive="active">
                    <a>Tiết kiệm</a>
                </li>
                <li>
                    <a href="#">Giao dịch định kì</a>
                </li>
            </ul>
        </li>

    </ul>
</nav>