<div class="modal fade" id="chinhsuachitieu" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <i data-dismiss="modal" class="fa fa-times fa-2x" aria-hidden="true"></i>
                <h4 class="modal-title">Sửa Giao Dịch</h4>
                <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
            </div>
            <div class="modal-body">
                <div class="row-item">
                    <div class="img">
                        <img src="https://static.moneylover.me/img/icon/icon_not_selected.png" alt="">
                    </div>
                    <span class="choose-category category">Chọn Danh Mục
                        <i aria-hidden="true" class="fa fa-caret-down"></i>
                    </span>

                </div>
                <div class="row-item">
                    <div class="img">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </div>

                    <div class="group">
                        <input type="text" required placeholder="Số tiền">
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="row-item">
                    <div class="img">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>

                    <div class="group">
                        <input type="text" required placeholder="Ngi chú">
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="row-item">
                    <div class="img">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </div>

                    <div class="group">
                        <input type="text" required placeholder="Với">
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="footer-row-item row">
                    <div class="col-lg-6 item-left">
                        <p class="week">MONDAY</p>
                        <p class="day-of-month">15</p>
                        <p class="month-and-year">january 2018</p>
                    </div>
                    <div class="col-lg-6 item-right">
                        <span class="title-wallet">Chọn Ví</span>
                        <span class="choose-category">Văn Duy
                            <i aria-hidden="true" class="fa fa-caret-down"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-add">Chỉnh sửa</button>
            </div>
        </div>
    </div>
</div>