<div class="modal fade" id="edit-wallet" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <i data-dismiss="modal" class="fa fa-times fa-2x" aria-hidden="true"></i> 
                <h4 class="modal-title">Edit Wallet</h4>
                <i class="fa fa-trash-o fa-2x" data-dismiss="modal" aria-hidden="true" (click)="submitRemoveWallet(id)"></i>
            </div>
            <div class="modal-body">
                <div class="row-item">
                    <div class="img">
                        <img src="https://static.moneylover.me/img/icon/icon.png" alt="">
                    </div>

                    <div class="group">
                        <input type="text" value="{{ dataEditWallet.namewallet }}" #name  required placeholder="Tên ví của bạn ?" [disabled]="dataEditWallet._id === 0 ? true:false ">
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="row-item">
                    <div class="img">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </div>

                    <div class="group">
                        <input type="hidden" value="{{ dataEditWallet._id }}" #id>
                        <input type="text" required placeholder="Số Tiền" value="{{ dataEditWallet.money }}" #money [disabled]="dataEditWallet._id === 0 ? true:false ">
                        <span class="bar"></span>
                    </div>
                </div>

        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-add" data-dismiss="modal" (click)="submitEditWallet(name , money, id)" [disabled]="dataEditWallet._id === 0 ? true:false ">Chỉnh sửa</button>
            </div>
        </div>
    </div>
</div>