<div class="modal fade" id="changePassword" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:white">Quên mật khẩu</h4>
                <span class="close-button" data-dismiss="modal">×</span>
            </div>
            <form [formGroup]='formChange'>
                <div class="modal-body">
                    <div class="row-item">
                        <div class="img">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </div>
                        <div class="group">
                            <input id="email" name="email" formControlName='email' type="email" placeholder="Nhập email đăng kí">
                            <span class="bar"></span>
                        </div>
                        <div *ngIf="formChange.controls['email'].touched && !formChange.controls['email'].valid">
                            <span style="margin-left:55px;color:red" *ngIf="formChange.controls['email'].hasError('required') ">
                                Phải nhập email
                            </span>
                            <span style="margin-left:55px;color:red" *ngIf="formChange.controls['email'].hasError('email') ">
                                Email không đúng định dạng
                            </span>
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="img">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </div>
                        <div class="group">
                            <input id="question" name="question" formControlName='question' type="text" placeholder="Nhập câu hỏi bảo mật">
                            <span class="bar"></span>
                        </div>
                        <div *ngIf="formChange.controls['question'].touched && !formChange.controls['question'].valid">
                            <span style="margin-left:55px;color:red" *ngIf="formChange.controls['question'].hasError('required') ">
                                Phải nhập câu hỏi bảo mật
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input [disabled]="!formChange.controls['email'].valid || !formChange.controls['question'].valid" type="Submit" (click)="PostData(formChange)"
                        class="btn btn-primary btn-add" data-dismiss="modal" value="Quên mật khẩu">
                </div>
            </form>
        </div>
    </div>
</div>