<div class="modal fade" id="changePassword" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:white">Đổi mật khẩu</h4>
                <span class="close-button" data-dismiss="modal">×</span>
            </div>
            <form [formGroup]='formChange'>
                <div class="modal-body">
                    <div class="row-item">
                        <div class="img">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </div>
                        <div class="group">
                            <input id="oldPassword" name="oldPassword" formControlName='oldPassword' type="password" placeholder="Nhập mật khẩu cũ">
                            <span class="bar"></span>
                        </div>
                        <div *ngIf="formChange.controls['oldPassword'].touched && !formChange.controls['oldPassword'].valid">
                            <span style="margin-left:55px;color:red" *ngIf="formChange.controls['oldPassword'].hasError('required') ">
                                Phải nhập mật khẩu cũ
                            </span>
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="img">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </div>
                        <div class="group">
                            <input id="newPassword" name="newPassword" formControlName='newPassword' type="password" placeholder="Nhập mật khẩu mới">
                            <span class="bar"></span>
                        </div>
                        <div *ngIf="formChange.controls['newPassword'].touched && !formChange.controls['newPassword'].valid">
                            <span style="margin-left:55px;color:red" *ngIf="formChange.controls['newPassword'].hasError('required') ">
                                Phải nhập mật khẩu mới
                            </span>
                            <span style="margin-left:55px;color:red" *ngIf="formChange.controls['newPassword'].hasError('minlength') ">
                                Mật khẩu phải nhiều hơn 6 kí tự
                            </span>
                        </div>
                    </div>

                    <div class="row-item">
                        <div class="img">
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                        </div>
                        <div class="group">
                            <input id="confirmPassword" name="confirmPassword" formControlName='confirmPassword' type="password" placeholder="Nhập mật khẩu mới">
                            <span class="bar"></span>
                        </div>
                        <div *ngIf="formChange.controls['confirmPassword'].touched && !formChange.controls['confirmPassword'].valid">
                            <span style="margin-left:55px;color:red" *ngIf="formChange.controls['confirmPassword'].hasError('required') ">
                                Phải nhập lại mật khẩu mới
                            </span>
                            <span style="margin-left:55px;color:red" *ngIf="formChange.controls['confirmPassword'].hasError('minlength') ">
                                Mật khẩu phải nhiều hơn 6 kí tự
                            </span>
                            <span style="margin-left:55px;color:red" *ngIf="formChange.controls['confirmPassword'].hasError('invalid') ">
                                Mật khẩu nhập lại không khớp
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input [disabled]="!formChange.controls['oldPassword'].valid || !formChange.controls['newPassword'].valid || !formChange.controls['confirmPassword'].valid"
                        type="Submit" (click)="PostData(formChange)" class="btn btn-primary btn-add" data-dismiss="modal" value="Đổi mật khẩu">
                </div>
            </form>
        </div>
    </div>
</div>