/* PHẦN MODAL CHỌN MUC
#choose-transaction .modal-content{position:absolute;top:0%;left:15%;background-color:white;width:360px;border-radius:0.5rem;}
#choose-transaction .item-content-modal{position:relative;margin:5px 0px;padding:3px 0px;}
#choose-transaction .item-content-modal:hover{background-color:rgba(51, 51, 51, 0.1);cursor:pointer;}
#choose-transaction .item-content-modal span{color:rgb(51, 51, 51);font-size:16px;}
#choose-transaction .item-content-modal img{width:48px;height:48px;}
#choose-transaction .item-content-modal span.name-vallet{position:absolute;top:7px;left:52px;}
#choose-transaction .item-content-modal span.money-vallet{position:absolute;top:26px;left:52px;color:rgba(0, 0, 0, 0.54);font-size:14px;}
#choose-transaction p{color:rgba(51, 51, 51, 0.54);font-size:14px;}
.close-button{float:right;width:1.5rem;line-height:1.5rem;text-align:center;cursor:pointer;border-radius:0.25rem;background-color:lightgray;}
.close-button:hover{background-color:darkgray;} */
:host{
    font-size: 14px;
}

.clr{
    clear: both;
}
.modal-title{
    float: left;
}
.close-button{
    float: right;
}
.modal-header{
    background: rgb(45, 184, 76);
    display: inline-block;
    padding-bottom: 0px;
    .modal-title{
        margin-left: 10px; 
        color: white;
        font-weight: normal;      
    }
    i.fa-arrow-left{
        float: left;
        margin-top: 4px;
        cursor: pointer;
        color: #fff;
    }
    i.fa-times{
        float: right;
        cursor: pointer;
    }
}


.tab{
    margin: 20px auto 0px auto;
    background: rgb(45, 184, 76);
    ul{
        border-bottom: 0px;
        li{
            width: 33.3333%;
            text-align: center;
            a{
                color: rgba(255, 255, 255, 0.7);
                width: 100%;                
            }
            a.active{
                .line{
                    display: block;
                }
                
            }
        }
    }
}
a.active{
    color: rgb(255, 255, 255) !important;
}
a{
    text-decoration: none;
}
.line{
    height: 4px;
    background: rgb(163, 233, 164);
    display: none;
}


ul.tab-thunhap{
    li{
        width: 113px;
        float: left;
        list-style: none;
        text-align: center;
        &:hover{    
            background-color: rgba(51, 51, 51, 0.1);
        }
        
        img{
            width: 48px;
            height: 48px;
        }
        p{
            cursor: pointer;
            text-transform: capitalize;
           
        }
        
    }
}