<div class="modal fade" id="choose-category-budget" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-arrow-left" aria-hidden="true" ></i>
                <h4 class="modal-title">Chọn Loại Giao Dich</h4>
                <i class="fa fa-times" aria-hidden="true" data-dismiss="modal"></i>
                
                <div class="clr"></div>
                <div class="tab">
                    <ul class="nav nav-tabs">
                        <li ><a class="active" href="#expenseBudget" data-toggle="tab">CHI TIÊU<div class="line"></div></a></li>
                        <li><a href="#debtloanBudget" data-toggle="tab">NỢ<div class="line"></div></a></li>
                    </ul>
                </div>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <!-- PHẦN CHI TIÊU -->
                    <div class="tab-pane active" id="expenseBudget">
                        <ul class="tab-thunhap">
                            <li *ngFor="let itemExpense of dataExpense">
                                <img src="assets/images/{{itemExpense.image}}.png" alt="">
                                <p data-dismiss="modal" class='name' (click)="chooseCategory($event)" >{{ itemExpense.name }}</p>
                                <input type="hidden" name="id" value="{{ itemExpense._id }}">
                                <input type="hidden" name="detect" value="{{ itemExpense.detect }}">
                            </li>
                        </ul>
                    </div>
                    <!-- PHẦN CHI TIÊU -->
                   
                    <!-- PHẦN NỢ -->
                    <div  class="tab-pane" id="debtloanBudget">
                        <ul  class="tab-thunhap">
                            <li  *ngFor="let item_debtloan of dataDebtLoan" >
                                <img src="assets/images/{{item_debtloan.image}}.png" alt="">
                                <p data-dismiss="modal" class='name' (click)="chooseCategory($event)">{{ item_debtloan.name }}</p>
                                <input type="hidden" name="id" value="{{ item_debtloan._id }}">
                            </li>
                        </ul>
                    </div>
                     <!-- PHẦN NỢ -->
                </div>
            </div>
        </div>
    </div>
</div>